<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Gerencie sua Grade</title>
</head>
<body ng-controller="PubVideosCalendarCtrl">
    <main class="minhasplaylists">
      <div class="row">
        <div class="categorias col s12">
          <input type="submit" class="categoria selecionado" value="Gerencie sua Grade">
          <hr class="hr2">
        </div>
      </div>
      <div class="conteudo">
        <div class="row lista">
          <div class="col l12 s12">
          </div>
          <div class="sobre row">
            <div class="row">
              <div class="col l12 s12 item">
                <img src="dev/img/playlist.png" class="icone about">
                <p class="principal">Gerencie sua Grade</p>
              </div>
            </div>
            <div class="grupo" id="grupo">
            <main>
             
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <h4 class="header center-on-small-only">{{dataAtual}}</h4>
            </div>
            
          <div class="container">
            <div class="section">

              <div class="row">
                <a class="waves-effect waves-light btn red"><</a> <!-- Caminhar para trás -->
                <a class="waves-effect waves-light btn red">Hoje</a> <!-- Caminhas para hoje -->
                <a class="waves-effect waves-light btn red">></a> <!-- Caminhar para frente -->
                <a class="waves-effect waves-light btn red"><i class="material-icons">today</i></a> <!-- Calendário -->
                <a class="waves-effect waves-light btn red"><i class="material-icons">system_update_alt</i></a> <!-- Baixar Grade -->
                <a class="waves-effect waves-light btn red"><i class="material-icons">movie</i></a> <!-- busca dos vídeos -->
                <table class="bordered">
                   <tr>
                        <td></td>
                        <td ng-repeat="diaSemana in diasSemana">
                            {{diaSemana}}
                        </td>
                    </tr>
                    <tr ng-repeat="horario in horarios">
                        <td>{{horario.horario}}</td>
                        <td ng-repeat="diaSemana in horario.diasSemana">
                          <div class="tbsquare" ng-repeat="programa in diaSemana">
                            <p>{{programa.inic}} - {{programa.term}}</p>
                            <p><a href=""> {{programa.tit}}</a></p>
                            <p>
                              <a href=""><i class="tiny material-icons">edit</i></a>
                              <a href=""><i class="tiny material-icons">delete</i></a>
                            </p>
                          </div>
                        </td>  
                    </tr>
                <table>
               </div>
            </div>
        </div>
            </div>
                </div>
            </div>
          </div>
      </div>
    </main>
</body>
</html>