<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Gerencie sua Grade</title>
</head>
<body ng-controller="PubVideosCalendarCtrl">
    <main class="minhasplaylists">
      <div class="row">
        <div class="categorias col s12">
          <input type="submit" class="categoria selecionado" value="Gerencie sua Grade">
          <hr class="hr2">
        </div>
      </div>
      <div class="conteudo">
        <div class="row lista">
          <div class="col l12 s12">
          </div>
          <div class="sobre row">
            <div class="row">
              <div class="col l12 s12 item">
                <img src="dev/img/playlist.png" class="icone about">
                <p class="principal">Gerencie sua Grade</p>
              </div>
            </div>
            <div class="grupo" id="grupo">
            <main>

        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <h4 class="header center-on-small-only">{{dataCorrente}}</h4>
            </div>

          <div class="container">
            <div class="section">

              <div class="row">
                <a class="waves-effect waves-light btn red" ng-click="moveLeft()"><</a> <!-- Caminhar para trás -->
                <a class="waves-effect waves-light btn red" ng-click="moveToToday()">Hoje</a> <!-- Caminhar para hoje -->
                <a class="waves-effect waves-light btn red" ng-click="moveRight()">></a> <!-- Caminhar para frente -->
                <a class="waves-effect waves-light btn red"><i class="material-icons">today</i></a> <!-- Calendário -->
                <a class="waves-effect waves-light btn red"><i class="material-icons">movie</i></a> <!-- busca dos vídeos -->
                <a href="playlist.xspf" download class="waves-effect waves-light btn red" ng-click="baixarGrade()"><i class="material-icons">system_update_alt</i></a> <!-- Baixar Grade -->
                <div class="cd-schedule loading">

				<div class="timeline">
					<ul>
						<li ng-repeat="hora in horas">
							<span>{{hora}}</span>
						</li>
					</ul>
				</div> <!-- .timeline -->

				<div class="events">
					<ul>
						<li class="events-group" ng-repeat="programacao in programacoes | startAt: min | limitTo: max ">
							<div class="top-info" ng-class="{'current-day': programacao.diaSelecionado}"><span>{{programacao.dia}}</span></div>

							<ul>
								<li class="single-event" ng-repeat="programa in programacao.programas" data-start={{programa.dataStart}} data-end={{programa.dataEnd}} data-content={{programa.dataContent}} data-event="event-5">
									<a href="">
										<em class="event-id" ng-show="false">{{programa.id}}</em>
										<em class="event-name">{{programa.eventName}}</em>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="event-modal">
					<header class="header">
						<div class="content">
              <!-- span class="event-day">Segunda</span-->
							<span class="event-date"></span>
							<h3 class="event-name"></h3>
						</div>

						<div class="header-bg"></div>
					</header>

					<div class="body">
            <div class="event-info">
            	<div>
            		<div class="modal-btns">
            			<p>
            				<a href="" class="waves-effect waves-light btn red"><i class="material-icons left">edit</i>Editar</a>
            				<a id="delete-button" href="" class="waves-effect waves-light btn red" ng-click="deleteEvent()"><i class="material-icons left">delete</i>Excluir</a>
            			</p>
            		</div>
            		<div>
            			{{eventInfo}}
            		</div>
            	</div>
            </div>
						<div class="body-bg"></div>
					</div>

					<a href="#0" class="close">Close</a>
				</div>

				<div class="cover-layer"></div>
			</div> <!-- .cd-schedule -->
               </div>
            </div>
        </div>
            </div>
                </div>
            </div>
          </div>
      </div>
    </main>
</body>
</html>