<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Gerencie sua Grade</title>
</head>
<body ng-controller="PubVideosCalendarCtrl">
    <main class="minhasplaylists">
      <div class="row">
        <div class="categorias col s12">
          <input type="submit" class="categoria selecionado" value="Gerencie sua Grade">
          <hr class="hr2">
        </div>
      </div>
      <div class="conteudo">
        <div class="row lista">
          <div class="col l12 s12">
          </div>
          <div class="sobre row">
            <div class="row">
              <div class="col l12 s12 item">
                <img src="dev/img/playlist.png" class="icone about">
                <p class="principal">Gerencie sua Grade</p>
              </div>
            </div>
            <div class="grupo" id="grupo">
            <main>

        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <h4 class="header center-on-small-only">{{dataAtual}}</h4>
            </div>

          <div class="container">
            <div class="section">

              <div class="row">
                <a class="waves-effect waves-light btn red"><</a> <!-- Caminhar para trás -->
                <a class="waves-effect waves-light btn red">Hoje</a> <!-- Caminhas para hoje -->
                <a class="waves-effect waves-light btn red">></a> <!-- Caminhar para frente -->
                <a class="waves-effect waves-light btn red"><i class="material-icons">today</i></a> <!-- Calendário -->
                <a class="waves-effect waves-light btn red"><i class="material-icons">system_update_alt</i></a> <!-- Baixar Grade -->
                <a class="waves-effect waves-light btn red"><i class="material-icons">movie</i></a> <!-- busca dos vídeos -->
                <div class="cd-schedule loading">
                
				<div class="timeline">
					<ul>
						<li ng-repeat="hora in horas">
							<span>{{hora}}</span>
						</li>
					</ul>
				</div> <!-- .timeline -->

				<div class="events">
					<ul>
						<li class="events-group">
							<div class="top-info"><span>Segunda-feira</span></div>

							<ul>
								<li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
									<a href="#0">
										<em class="event-name">Você na TV</em>
									</a>
								</li>

								<li class="single-event" data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2">
									<a href="#0">
										<em class="event-name">Horário Eleitoral</em>
									</a>
								</li>

								<li class="single-event" data-start="14:00" data-end="15:15"  data-content="event-yoga-1" data-event="event-3">
									<a href="#0">
										<em class="event-name">Você na TV</em>
									</a>
								</li>
							</ul>
						</li>

						<li class="events-group">
							<div class="top-info"><span>Terça-feira</span></div>

							<ul>
								<li class="single-event" data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2">
									<a href="#0">
										<em class="event-name">Ana Maria Brogui</em>
									</a>
								</li>

								<li class="single-event" data-start="11:30" data-end="13:00"  data-content="event-restorative-yoga" data-event="event-4">
									<a href="#0">
										<em class="event-name">Vídeo Cassetadas</em>
									</a>
								</li>

								<li class="single-event" data-start="13:30" data-end="15:00" data-content="event-abs-circuit" data-event="event-1">
									<a href="#0">
										<em class="event-name">Faustão</em>
									</a>
								</li>

								<li class="single-event" data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3">
									<a href="#0">
										<em class="event-name">Boa tarde Manaus</em>
									</a>
								</li>
							</ul>
						</li>

						<li class="events-group">
							<div class="top-info"><span>Quarta-feira</span></div>

							<ul>
								<li class="single-event" data-start="09:00" data-end="10:15" data-content="event-restorative-yoga" data-event="event-4">
									<a href="#0">
										<em class="event-name">Campeonato Inglês</em>
									</a>
								</li>

								<li class="single-event" data-start="10:45" data-end="11:45" data-content="event-yoga-1" data-event="event-3">
									<a href="#0">
										<em class="event-name">Série A TIM</em>
									</a>
								</li>

								<li class="single-event" data-start="12:00" data-end="13:45"  data-content="event-rowing-workout" data-event="event-2">
									<a href="#0">
										<em class="event-name">Champions League</em>
									</a>
								</li>

								<li class="single-event" data-start="13:45" data-end="15:00" data-content="event-yoga-1" data-event="event-3">
									<a href="#0">
										<em class="event-name">Campeonato Inglês</em>
									</a>
								</li>
							</ul>
						</li>

						<li class="events-group">
							<div class="top-info"><span>Quinta-feira</span></div>

							<ul>
								<li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
									<a href="#0">
										<em class="event-name">Campeonato Inglês</em>
									</a>
								</li>

								<li class="single-event" data-start="12:00" data-end="13:45" data-content="event-restorative-yoga" data-event="event-4">
									<a href="#0">
										<em class="event-name">Yoga ao Vivo</em>
									</a>
								</li>

								<li class="single-event" data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1">
									<a href="#0">
										<em class="event-name">Boa Tarde Manaus</em>
									</a>
								</li>

								<li class="single-event" data-start="17:00" data-end="18:30"  data-content="event-rowing-workout" data-event="event-2">
									<a href="#0">
										<em class="event-name">Jornal</em>
									</a>
								</li>
							</ul>
						</li>

						<li class="events-group">
							<div class="top-info"><span>Sexta-feira</span></div>

							<ul>
								<li class="single-event" data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2">
									<a href="#0">
										<em class="event-name">Você na TV</em>
									</a>
								</li>

								<li class="single-event" data-start="12:30" data-end="14:00" data-content="event-abs-circuit" data-event="event-1">
									<a href="#0">
										<em class="event-name">Ana Maria Brogui</em>
									</a>
								</li>

								<li class="single-event" data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3">
									<a href="#0">
										<em class="event-name">Campeonato Inglês</em>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="event-modal">
					<header class="header">
						<div class="content">
							<span class="event-date"></span>
							<h3 class="event-name"></h3>
						</div>

						<div class="header-bg"></div>
					</header>

					<div class="body">
						<div class="event-info"></div>
						<div class="body-bg"></div>
					</div>

					<a href="#0" class="close">Close</a>
				</div>

				<div class="cover-layer"></div>
			</div> <!-- .cd-schedule -->
               </div>
            </div>
        </div>
            </div>
                </div>
            </div>
          </div>
      </div>
    </main>
</body>
</html>