<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Gerencie sua Grade</title>
</head>
<body ng-controller="PubVideosViewCtrl">
    <main class="minhasplaylists">
      <div class="row">
        <div class="categorias col s12">
          <input type="submit" class="categoria selecionado" value="Gerencie sua Grade">
          <hr class="hr2">
        </div>
      </div>
      <div class="conteudo">
        <div class="row lista">
          <div class="col l12 s12">
          </div>
          <div class="sobre row">
            <div class="row">
              <div class="col l12 s12 item">
                <img src="dev/img/playlist.png" class="icone about">
                <p class="principal">{{app}}</p>
              </div>
            </div>
            <div class="grupo" id="grupo">
            <main>
             
        <div class="section no-pad-bot" id="index-banner">
            <div class="container"> 
                <h2>{{programa.tit}}</h2>
                <h4>{{programa.inic}} - {{programa.term}}</h4>
                </br>
                <div class="row">
                  {{programa.desc}}
                </div>
            </div>
        </div>
            </div>
                </div>
            </div>
          </div>
      </div>
    </main>
</body>
</html>